<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>IrrigaTRON</title>
	
	<link rel="stylesheet" href="/static/css/jquery-ui.min.css">
	<link rel="stylesheet" href="/static/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">

	<script src="/static/js/jquery-3.7.0.min.js"></script>
	<script src="/static/js/jquery-ui.min.js"></script>
	
	<style>
		/* Estilos para hacer que la barra de navegación de la izquierda alcance el fondo de la vista */
		body, html {
			height: 100%;
			margin: 0;
			padding: 0;
		}
		.sidebar {
			height: 100%;
			position: fixed;

		}
		.sidebar-sticky {
			position: sticky;
			top: 0;
			z-index: 1000;
			height: calc(100vh - 56px); /* Resta la altura de la barra de navegación superior */
			overflow-y: auto; /* Habilita el scroll en la lista */
		}
		.scrollable {
				max-height: 400px; /* Ajusta la altura máxima según tus necesidades */
				overflow-y: auto; /* Habilitar barras de desplazamiento vertical automáticamente */
				/* Otros estilos que desees aplicar al div */
		}
	</style>
</head>
<body>
	<!-- Barra de Navegación Superior -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="/home">Logo</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link active" href="/home">Inicio</a>
					</li>
					<!--
					<li class="nav-item" >
						<a class="nav-link" href="#">Acerca de</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Contacto</a>
					</li>
					-->
				</ul>
			</div>
		</div>
	</nav>

	<!-- Contenedor principal -->
	<div class="container-fluid">
		<div class="row">
			<!-- Barra de Navegación Izquierda -->
			<nav class="col-md-3 col-lg-2 d-md-block navbar-dark bg-dark sidebar">
				<div class="position-sticky sidebar-sticky">
					<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
						{% for p in plants %}
								<a type="button" href="/plant/{{ p.name }}" class="btn {{ 'btn-light' if p.name == plant.name else 'btn-dark' }}">{{ p.pump }} - {{ p.name }}</a>
						{% endfor %}
					</div>
				</div>
			</nav>

			<!-- Contenido Principal -->
			<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
				
				<div class="row mt-4 bg-light border">
					<div class="col">
						<div class="row">
							<div class="col">
								<h4 class="display-4">{{ plant.pump }} - {{ plant.name }}</h4>
							</div>
							<div class="col d-flex justify-content-end align-items-center">
								<div class="btn-group me-2">
									<button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#water_history_modal">Water History</button>
								</div>
								<div class="btn-group me-2">
									<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#conditions_modal">Conditions</button>
								</div>
								<div class="btn-group me-2">
									<form method="POST" action="/plant/{{ plant.name }}/force_water">
										<button type="submit" class="btn btn-danger">Force Water</button>
									</form>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="progress">
									<div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{ tank_height }}%" aria-valuenow="{{ tank_height }}" aria-valuemin="0" aria-valuemax="100"><b>{{ tank_height }}%</b></div>
								</div>
							</div>
						</div>
						{% if plant.description != "" %}
						<div class="row">
							<div class="col">
								<p>{{ plant.description }}</p>
							</div>
						</div>
						{% endif %}

					</div>
				</div>
				
				<div class="row mt-4">
					<div class="col col-10 border border-dark rounded">
						<div id="tester"></div>
					</div>
					<div class="col-2">
						<form method="POST" action="/plant/{{ plant.name }}/update_keys" class="bg-light border border-dark rounded">
							<div class="d-flex justify-content-center">
								<h4>Select parameters</h4>
							</div>
							<div class="container">
								<div class="scrollable bg-light border p-1">
									{% for key in inner_keys %}

											<div class="form-check">
											{% if key in plant.inner_keys != "" %}
												<input class="form-check-input" type="checkbox" value="" name="{{ key }}" value="{{ key }}" checked>
											{% else %}
												<input class="form-check-input" type="checkbox" value="" name="{{ key }}" value="{{ key }}">
											{% endif %}
											<label class="form-check-label" for="{{ key }}">{{ key }}</label>
										</div>
									{% endfor %}
								</div>
								<div class="d-flex justify-content-center m-4">
									<button type="submit" class="btn btn-sm btn-warning">Submit</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</main>
		</div>
	</div>

	<div class="modal fade" tabindex="-1" id="conditions_modal">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Conditions</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col">
							<h6>Groups</h6>
							<div class="form-check form-check-inline">
								<button class="btn my-check-btn btn-primary" checked="1" id="group_id_new" title="New Group">+</button>
								{% for group in condition_groups %}
									<button class="btn my-check-btn btn-outline-primary" checked="0" id="group_id_{{ group.id }}" title="Group {{ group.id }}">{{ group.id }}</button>
								{% endfor %}
							</div>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col">
							{% for group in condition_groups %}
								<div class="row my-check-table" id="table_group_id_{{ group.id }}">
									<div class="col">
										<h6>Conditions</h6>
										<table class="table table-hover">
											<thead>
												<tr>
													<th scope="col">parameter</th>
													<th scope="col">condition</th>
													<th scope="col">value</th>
													<th scope="col"></th>
												</tr>
											</thead>
											<tbody>
												{% for condition in group.conditions %}
												<tr>
													<td>{{ condition.key }}</td>
													<td>{{ condition.condition }}</td>
													<td>{{ condition.value }}</td>
													<td>
														<form method="POST" action="/plant/{{ plant.name }}/delete_condition">
															<input type="hidden" name="key" value="{{ condition.key }}">
															<input type="hidden" name="group_id" value="{{ group.id }}">
															<button type="submit" class="btn btn-outline-danger btn-sm d-flex justify-content-center" title="Delete Condition">
																<img src="/static/images/trash-solid.svg" alt="Del" height="16" width="16">
															</button>
														</form>
													</td>
												</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
							{% endfor %}
							<div class="row">
								<div class="col scrollable">
									<h6>New Condition</h6>
									<form method="POST" action="/plant/{{ plant.name }}/new_condition">
										<div class="input-group">
											<select name="key" class="form-select" aria-label="Default select example" required>
												{% for key in plant.inner_keys.split(",") %}
													<option value="{{ key }}">{{ key }}</option>
												{% endfor %}
											</select>
											<select name="condition" class="form-select" aria-label="Default select example" required>
												<option value="higher">></option>
												<option value="equals">=</option>
												<option value="lower"><</option>
											</select>
											<input type="hidden" name="group_id" id="group_id_hidden_input" value="">
											<input type="number" step="0.01" value="0.0" aria-label="Last name" class="form-control" name="value" required>
											<button type="submit" class="btn btn-outline-success" title="New condition">+</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade " tabindex="-1" id="water_history_modal">
		<div class="modal-dialog modal-dialog-centered modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Water History</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div id="history_plot"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>


	<script src="/static/js/jquery-3.7.0.min.js"></script>
	<script src="/static/js/jquery-ui.min.js"></script>

	<script src="/static/js/bootstrap.bundle.min.js"></script>
	<script src="/static/js/dataTables.bootstrap4.min.js"></script>
	<script src="/static/js/jquery.dataTables.min.js"></script>
	<script src="/static/js/plotly-2.24.1.min.js"></script>


	<input type="hidden" id="enrolled_id" value="{{ plant_data }}">
	<input type="hidden" id="water_history_data" value="{{ water_history }}">
	<script>
		let my_data = JSON.parse(document.querySelector('#enrolled_id').value);

		console.log(my_data);

		let timestamps = [];

		let dictionary = {}
		for(let obj of my_data){
			const keyValue = obj["key"];
			if (!dictionary[keyValue]) {
				dictionary[keyValue] = [];
			}
			dictionary[keyValue].push(obj);
		}

		console.log(dictionary)

		console.log(Object.keys(dictionary));
		let data = [];
		for(let i = 0; i < Object.keys(dictionary).length; i++){
			let x_array = [];
			let y_array = [];
			for(let obj of dictionary[Object.keys(dictionary)[i]]){
				console.log(obj);
				x_array.push(new Date(obj["timestamp"] * 1000));
				y_array.push(obj["value"]);
			}
			data.push({
				name: Object.keys(dictionary)[i],
				x: x_array,
				y: y_array,
				type: 'scatter',
				//hoverinfo: 'y'
			});
		}
		var layout = {
			title: 'Data',
			showlegend: true
		};


		Plotly.newPlot('tester', data, layout, {scrollZoom: true, displaylogo: false, responsive: true});


		let my_data2 = JSON.parse(document.querySelector('#water_history_data').value);

		let x_array = [];
		let y_array = [];
		for(let i = 0; i < my_data2.length; i++){
			
			x_array.push(new Date(my_data2[i] * 1000));
			y_array.push(1);
		}

		console.log(x_array);
		console.log(y_array);

		Plotly.newPlot('history_plot', 
		[{
			name: 'Watering',
			x: x_array,
			y: y_array,
			mode: 'markers',
			marker: { size: 8 },
			hoverinfo: 'x'
		}], {
			title: 'Water History',
			showlegend: true,
			yaxis: {
				visible: false,
				//showgrid: false,
    			//zeroline: false
			},
		}, {
			scrollZoom: true,
			displaylogo: false,
			responsive: true,
		});

		$(document).ready(function() {
			$(".my-check-btn").click(function() {
				$(".my-check-btn").attr("class", "btn my-check-btn btn-outline-primary");
				$(".my-check-btn").attr("checked", "0");

				$(".my-check-table").hide();

				$(this).attr("class", "btn my-check-btn btn-primary");
				$(this).attr("checked", "1");
				
				var button_id = $(this).attr("id");
				console.log(button_id);
				var group = button_id.split("_")[2];

				if(group === "new"){
					let groups_num = $(".my-check-btn").length;
					let value = 0;
					for(let tmp_i = groups_num; tmp_i > 0; tmp_i--) {
						if ($("#group_id_"+tmp_i).length <= 0) {
							value = tmp_i;
						}
					}

					if (value === 0) {
						value = groups_num;
					}
					$("#group_id_hidden_input").val(value);
				} else {
					$("#group_id_hidden_input").val(group);	
					$("#table_group_id_"+group).show();
				}
			});

			//por defecto que sea el nuevo grupo
			$(".my-check-table").hide();
			$("#group_id_hidden_input").val($(".my-check-btn").length);
		});

	</script>

</body>
</html>